langchain
langchain_community
langchain_huggingface
langgraph
langserve
pandas
numpy
langchain_ollama
pandasai
openai
groq
langchain_openai
xmltodict
google-search-results
pytest
arxiv
wikipedia
elasticsearch
faiss-cpu
transformers
accelerate
torch
sentence-transformers
huggingface_hub
requests
beautifulsoup4
pymupdf
pdfminer.six
pdfplumber
pypdf
pytesseract 
pdf2image 
pillow
pypdf2
matplotlib
seaborn
tabulate
boto3
flask
uvicorn
requests
pandas